{% extends 'base.html.twig' %}

{% block title %}Auteur index{% endblock %}

{% block body %}
 <style>

h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #696969 , black);
  font-family: 'Roboto', sans-serif;
}
nav{
  background: -webkit-linear-gradient(left, #2581, #25b7c4);
  background: linear-gradient(to right, black , black);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}


#navbarNav{
  position: fixed;
  right: 0;
  top: 5%;
  width: 40em;
  margin-top: -1.4em;
}
.pagination{
   position: fixed;
  right: 0;
  top: 90%;
  width: 55em;
  margin-top: -2.5em;
}


</style>  
<script>
// '.tbl-content' consumed little space for vertical scrollbar, scrollbar width depend on browser/os/platfrom. Here calculate the scollbar width .
$(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
</script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
 <a href="{{path('home')}}"><img src={{asset('imgs/book_PNG51090.png')}} width="50px"/>&nbsp;&nbsp;<strong>BOOKSTORE</strong></a>    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex" id="navbarNav" >
      <ul class="navbar-nav">
{% if not app.user %}
        <li class="nav-item"><a href={{path('app_login')}}><i class="fas fa-user-friends"></i> Login</a></li>
        <li class="nav-item"><a href={{path('app_register')}}><i class="fas fa-sign-in"></i> Sign in</a></li>
  {% endif %}        
                   {% if app.user  %}
                        {% if app.user.roles[0]=="ROLE_ADMIN"  %}
                          <button type="button" class="btn btn-dark"><li class="nav-item"><a class="nav-link" href="#">ADMIN</a></li></button>
                                            <button type="button" class="btn btn-dark"> <li class="nav-item"><a href="{{ path('auteur_new') }}" class="nav-link">Create new</a></li></button>

                        {% endif %}

                      <button type="button" class="btn btn-dark"> <li class="nav-item"><a class="nav-link" href={{path('app_logout')}}><i class="fas fa-sign-out-alt"></i> LogOut</a></li></button>
                      <button type="button" class="btn btn-dark"> <li class="nav-item"><a class="nav-link" href={{path('genre_index')}}><i class="fas fa-sign-out-alt"></i> genre</a></li></button>
                      <button type="button" class="btn btn-dark"> <li class="nav-item"><a class="nav-link" href={{path('livre_index')}}><i class="fas fa-sign-out-alt"></i> livre</a></li></button>


                         

  {% endif %}
      </ul>
    </div>
  </div>
</nav>
    <h1>Auteur index</h1>

     <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_prenom</th>
                <th>Sexe</th>
                <th>Date_de_naissance</th>
                <th>Nationalite</th>
                {% if app.user and app.user.roles[0]=="ROLE_ADMIN"  %}
                <th>actions</th>
                 {% endif %}
                  </tr>
              </thead>
    </table>
  </div>
    <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
       <tbody>
        {% for auteur in auteurs %}
            <tr>
                <td>{{ auteur.id }}</td>
                <td>{{ auteur.nomPrenom }}</td>
                <td>{{ auteur.sexe }}</td>
                <td>{{ auteur.dateDeNaissance ? auteur.dateDeNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ auteur.nationalite }}</td>
                 {% if app.user and app.user.roles[0]=="ROLE_ADMIN"  %}

                <td>
                <button type="button" class="btn btn-dark"><a href="{{ path('auteur_show', {'id': auteur.id}) }}">show</a></button>
                <button type="button" class="btn btn-dark"><a href="{{ path('auteur_edit', {'id': auteur.id}) }}">Edite</a></button>

                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
          </tbody>
    </table>    
  
  </div>

    
{% endblock %}
